<div class="bg-sky-950 border-sky-500 border-t-2 pt-5 flex w-full">
  <!-- First div -->
  <div class="flex text-center items-center justify-center ml-12 w-full">
    <button
      class="flex items-center mx-3 border-sky-500 bg-sky-900 border-2 rounded-lg text-white p-2 pr-4 hover:bg-sky-700 hover:border-sky-400"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example visibility icon"
        fontIcon="visibility"
        class="mx-1"
      ></mat-icon>
      Most Viewed
    </button>
    <button
      class="flex items-center mx-3 border-sky-500 bg-sky-900 border-2 rounded-lg text-white p-2 pr-4 hover:bg-sky-700 hover:border-sky-400"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example star icon"
        fontIcon="star"
        class="mx-1"
      ></mat-icon>
      Top Rated
    </button>
    <button
      class="flex items-center mx-3 border-sky-500 bg-sky-900 border-2 rounded-lg text-white p-2 pr-4 hover:bg-sky-700 hover:border-sky-400"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example bolt icon"
        fontIcon="bolt"
        class="mx-1"
      ></mat-icon>
      Newest
    </button>
  </div>

  <!-- Second div -->
  <div class="flex items-center mr-5">
    <button
      class="flex items-center mx-3 border-sky-400 bg-sky-700 border-2 rounded-lg text-white p-2 hover:bg-sky-900 hover:border-sky-500"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example bolt icon"
        fontIcon="add"
        class="mx-1"
      ></mat-icon>
    </button>
  </div>
</div>
