<mat-toolbar color="primary">
  <div class="p-2 flex w-full">
    <!-- First div -->
    <div class="flex text-center items-center justify-center ml-12 w-full">
      <button mat-raised-button color="accent" class="flex items-center mx-3">
        <mat-icon
          aria-hidden="false"
          aria-label="Example visibility icon"
          fontIcon="visibility"
          class="mx-1"
        ></mat-icon>
        Most Viewed
      </button>
      <button mat-raised-button color="accent" class="flex items-center mx-3">
        <mat-icon
          aria-hidden="false"
          aria-label="Example star icon"
          fontIcon="star"
          class="mx-1"
        ></mat-icon>
        Top Rated
      </button>
      <button mat-raised-button color="accent" class="flex items-center mx-3">
        <mat-icon
          aria-hidden="false"
          aria-label="Example bolt icon"
          fontIcon="bolt"
          class="mx-1"
        ></mat-icon>
        Newest
      </button>
    </div>

    <!-- Second div -->
    <div class="flex items-center mr-5">
      <button
        mat-mini-fab
        color="accent"
        class="flex items-center mx-3"
        (click)="showModal.emit(true)"
      >
        <mat-icon fontIcon="add" class="!ml-0"></mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
